<%- include("partials/top") %>
  <title>Game overzicht</title>
</head>
<nav>
  <ul>
    <li><a href="/">Games</a></li>
    <li><a class="active" href="/developer">Developers</a></li>
  </ul>
</nav>
<body>
  <div class="indexContent">
  <table>
    <thead>
      <tr>
        <th>Name developer
        </th>
      </tr>
    </thead>
    <tbody>
      <% developer.forEach(developer => { %>
        <tr>
          <td><a href="/developerDetail/<%= developer.id %>"><%= developer.name %></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
     
    </tbody>
  </table>
</body>
</html>
